<<<<<<< HEAD
section.about {
  position: relative;
  margin-bottom: 80px;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.about-left .about-left__header {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: #B81F21;
  margin-bottom: 48px;
  margin-top: 72px;
}

.about-left .about-left__text {
  font-size: 16px;
  line-height: 22px;
  color: #333333;
  margin-bottom: 32px;
}

.about-left .about-left__button {
  background: #FFFFFF;
  border: 1px solid #B81F21;
  box-sizing: border-box;
  border-radius: 30px;
  width: 288px;
  height: 56px;
  margin-bottom: 60px;
}

.about-left .about-left__button-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #B81F21;
}

.about-right {
  position: absolute;
  height: 100%;
  right: 0;
  width: 50%;
  background-image: url("../img/about/dog.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}
.about-right-mobile {
  display: none;
}

@media screen and (max-width: 991px) {
  .about-right {
    display: none;
  }
  .about-right-mobile {
    display: block;
  }
}

.about-right .about-right__animal {
  position: relative;
}

.about-right__animal .about-right__animal__image {
  width: 100%;
  height: auto;
}

.about-right .about-right__pawshake {
  position: absolute;
  width: 267px;
  height: auto;
  left: calc(50% - 133px);
  top: 5%;
}

.about-right-mobile {
  position: relative;
}

.about-right-mobile .about-right__pawshake {
  position: absolute;
  top: 25%;
  left: calc(50% - 133px);
}

.about-right__pawshake img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .about-right-mobile .about-right__pawshake {
    top: 10%;
    width: 200px;
    left: calc(50% - 100px);
  }
}

.directions {
  background: #f6f6f6;
  position: relative;
  padding: 100px 0;
}
.directions-header {
  font-weight: 600;
  font-size: 36px;
  line-height: 46px;
  color: #333333;
  margin-bottom: 60px;
  font-family: Montserrat;
}
.directions-text {
  font-size: 16px;
  line-height: 22px;
  color: #333333;
  margin-bottom: 32px;
  width: 670px;
  font-family: Montserrat;
}

@media screen and (max-width: 991px) {
  .directions-text {
    width: auto;
  }
}
.directions-button {
  width: 337px;
  height: 56px;
}
.directions-button__item {
  border: 1px solid #b81f21;
  box-sizing: border-box;
  border-radius: 41px;
  padding: 13px 32px;
  background: transparent;
}
.directions-button__item__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  color: #b81f21;
  font-family: Montserrat;
}


.directions-image {
  position: absolute;
  top: 0;
  right: 0;
}

.equipment-header-wrapper {
  margin-bottom: 80px;
}

.equipment-header-wrapper .equipment-header-wrapper__text {
  font-weight: 600;
  font-size: 36px;
  line-height: 140%;
  color: #333333;
}

.equipment-row {
  margin-bottom: 60px;
}

.equipment-block .equipment-block__image {
  margin-bottom: 32px;
}

.equipment-block .equipment-block__text {
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}

=======
>>>>>>> a10ef24c4c44a53c27eaaba6d4591ac791b27f59
