.articles-row-body {
  padding-top: 72px;
}

.articles-image img {
  width: 100%;
  margin-bottom: 50px;
}
.articles-name {
  font-weight: 600;
  font-size: 44px;
  line-height: 140%;
  color: #b81f21;
  margin-bottom: 16px;
}
.articles-data {
  font-size: 16px;
  line-height: 140%;
  color: #787878;
  margin-bottom: 32px;
}
.articles-views {
  font-size: 16px;
  line-height: 140%;
  color: #787878;
  margin-bottom: 32px;
}
.articles-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  color: #000000;
}
.articles-social {
  width: 10px;
}
.articles-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 32px;
}
.articles-block .articles-block__data {
  display: flex;
  flex-direction: row;
}
.articles-block .articles-block__views {
  display: flex;
  flex-direction: row;
}
.articles-block .articles-block__image {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}
.articles-block .articles-block__text {
  font-size: 16px;
  line-height: 140%;
  color: #787878;
}
