
.team {
  position: relative;
}
.team .team-title {
  margin-bottom: 47px;
}

.team-title .team-title__text {
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.04em;
  color: #B81F21;
}
.team-photo .team-photo__img {
  width: 100%;
}
.team .team-photo  {
  margin-bottom: 78px;
}
.team-cardiogram .team-cardiogram__icon {
  width: 100%;
  position: absolute;
  bottom: -58px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .team-cardiogram .team-cardiogram__icon {
    bottom: -36px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .team-cardiogram .team-cardiogram__icon {
    bottom: -49px;
  }
}

@media screen and (min-width: 401px) and (max-width: 768px) {
  .team-cardiogram .team-cardiogram__icon {
    bottom: -27px;
  }
}

@media screen and (max-width: 400px) {
  .team-cardiogram .team-cardiogram__icon {
    bottom: -19px;
  }
  .team-title .team-title__text {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 60px;
    letter-spacing: 0.04em;
    color: #B81F21;
  }
}

.kvcr-list {

}

.doc-card {
  margin-bottom: 100px;
  display: block;
}
.doc-card:hover {
  text-decoration: none;
}
.doc-card .doc-card__img {
  margin-bottom: 32px;
}

.doc-card__img .doc-card__img-src {
  height: 170px;
  width: 170px;
  border-radius: 50%;
}

.doc-card .doc-card__position {

}
.doc-card__position .doc-card__position-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #B81F21;
}

.doc-card .doc-card__name {
  margin-bottom: 12px;
}

.doc-card__name .doc-card__name-text {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #333333;
}

.doc-card .doc-card__specialization {

}

.doc-card__specialization .doc-card__specialization-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}
