.news {
}

.news .news__title {
  margin-bottom: 56px;
}
.news__link {
  color: #333333;
}
.news__link:hover {
  text-decoration: none;
}

.news__link:hover {
  color: #FF4A4D;
}
.news__link:active {
  color: #961C1D;
}

.news__card {
  margin-bottom: 44px;
}

.news__title .news__title-txt {
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 140%;
  color: #b81f21;
}

.news__card .news__card__date {
  margin-bottom: 8px;
}

.news__card__date .news__card__date-txt {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #787878;
}

.news__card .news__card__title {
  margin-bottom: 24px;
}

.news__card__title .news__card__title-txt {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #333333;
}

.news__card__description .news__card__description-txt {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #333333;
}
