.pagination {
  display: inline-block;
}

.pagination .pagination-item {
  float: left;
  text-decoration: none;
  border: 1px solid #E0E2E5;
  margin-right: 8px;
  border-radius: 50%;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-item.active {
  background-color: #B81F21;
  color: white;
}
.pagination-item.active:hover {
  background: #FF4A4D;
  border-radius: 30px;
}


.pagination-item:hover{
  background: #FFFFFF;
  border: 1px solid #FF4A4D;
  border-radius: 30px;
}
.pagination-item:focus {
  background: #FFFFFF;
  border: 1px solid #961C1D;
  border-radius: 30px;
}