.posts__tabs__caption .posts__tabs__caption-item.active {
  border-bottom: 4px solid #B81F21;
  color: #B81F21;
  font-weight: 600;
}
.posts__tabs__content {
  display: none; /* по умолчанию прячем все блоки */
  margin-bottom: 16px;
}
.posts__tabs__content.active {
  display: block; /* по умолчанию показываем нужный блок */
}

.posts .posts__title {
  margin: 72px 0 32px 0;
}

.posts__title .posts__title__txt {
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 140%;
  color: #b81f21;
}

.posts__tabs .posts__tabs__caption {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}

.posts__tabs__caption .posts__tabs__caption-item {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #b81f21;
  list-style-type: none;
  margin-right: 30px;
  padding: 0 0px 15px 0px;
  border-bottom: 4px solid #fff;
}
.posts__link:hover {
  text-decoration: none;
}
.posts__link:hover .posts__card__img-src {
  filter: opacity(0.5);
}
.posts__link:hover .posts__card__title-txt {
  color: #FF4A4D;
}
.posts__link:active .posts__card__img-src{
  filter: none;
}
.posts__link:active .posts__card__title-txt {
  color: #961C1D;
}
.posts__tabs__caption-item:hover {
  color:#FF4A4D;
  cursor: pointer;
}
.posts__tabs__caption-item:active {
  color:#961C1D;
}


.posts .posts__card {
  margin-bottom: 22px;
}
.posts__card .posts__card__img {
  margin-bottom: 8px;
}
.posts__card__img .posts__card__img-src {
  width: 100%;
  height: auto;
}
.posts__card .posts__card__date {
  margin-bottom: 8px;
}
.posts__card__date .posts__card__date-txt {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
  color: #787878;
}

.posts__card .posts__card__title {
  margin-bottom: 24px;
}
.posts__card__title .posts__card__title-txt {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #333333;
}

.posts__card .posts__card__description {
  margin-bottom: 8px;
}
.posts__card__description .posts__card__description-txt {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
  color: #333333;
}

.posts__card__tag .posts__card__tag-item {
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
  color: #b81f21;
}
