.singlepost-image-wrapper {
  margin-bottom: 44px;
}

.singlepost-image-wrapper .singlepost-image-wrapper__item {
  width: 100%;
  margin-bottom: 12px;
}

.singlepost-image-wrapper .singlepost-image-wrapper__footnote {
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  color: #787878;
}

.singlepost-header {
  margin-bottom: 13px;
}

.singlepost-header__text {
  font-weight: 600;
  font-size: 44px;
  line-height: 140%;
  color: #b81f21;
}

.singlepost-footnote-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.singlepost-footnote-block .singlepost-footnote-block__data {
  display: flex;
  flex-direction: row;
}

.singlepost-footnote-block .singlepost-footnote-block__views {
  display: flex;
  flex-direction: row;
}

.singlepost-footnote-block .singlepost-footnote-block__image {
  margin-right: 12px;
}

.singlepost-footnote-block .singlepost-footnote-block__text {
  font-size: 16px;
  line-height: 140%;
  color: #787878;
}

.singlepost-footnote-block
  .singlepost-footnote-block__nutrition
  .singlepost-footnote-block__nutrition__text {
  font-style: italic;
  font-size: 16px;
  line-height: 140%;
  color: #b81f21;
}

.singlepost-footnote {
  margin-bottom: 32px;
}

.singlepost-text-underheader-wrapper {
  margin-bottom: 56px;
  text-align: justify;
}

.singlepost-text-underheader-wrapper .singlepost-text-underheader__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  text-align: justify;
  color: #000000;
}

.singlepost-question-wrapper {
  margin-bottom: 32px;
}
.singlepost-question-wrapper__text {
  font-weight: 600;
  font-size: 32px;
  line-height: 140%;
  color: #b81f21;
  text-align: justify;
}

.first-li {
  margin-bottom: 16px;
}

.red-li li {
  color: #b81f21;
}

.red-li span {
  color: #000000;
  font-weight: 300;
  font-size: 16px;
  line-height: 200%;
}

.border-line-red {
  padding: 10px;
  border-left: 1px solid #b81f21;
  border-left-width: 4px;
}

.singlepost-title-wrapper {
  margin-bottom: 32px;
}

.singlepost-title-wrapper .singlepost-title-wrapper__text {
  font-weight: 600;
  font-size: 32px;
  line-height: 140%;
  color: #b81f21;
  text-align: justify;
}

.singlepost-text-wrapper {
  margin-bottom: 16px;
}

.singlepost-text-wrapper .singlepost-text-wrapper__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  text-align: justify;
}

.singlepost-paragraph-wrapper {
  margin-bottom: 56px;
}

.singlepost-paragraph-wrapper .singletone-paragraph-wrapper__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  text-align: justify;
}

.singlepost-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  color: #000000;
  margin-bottom: 40px;
}

.singlepost-subtitle-wrapper {
  margin-bottom: 24px;
}

.singlepost-subtitle-wrapper .singlepost-subtitle-wrapper__text {
  font-weight: 600;
  font-size: 24px;
  line-height: 160%;
  color: #b81f21;
}

.second-li {
  margin-bottom: 32px;
}

.singlepost-border-line-red {
  padding: 10px;
  border-left: 1px solid #b81f21;
  border-left-width: 4px;
  margin-bottom: 32px;
}

.singlepost-border-line-red .singlepost-border-line-red__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  color: #000000;
  margin-left: 32px;
  text-align: justify;
}

.singlepost-smallquestion-wrapper {
  margin-bottom: 24px;
}

.singlepost-smallquestion-wrapper .singlepost-smallquestion-wrapper__text {
  font-weight: 600;
  font-size: 24px;
  line-height: 160%;
  color: #B81F21;
}

.thrid-li {
  margin-bottom: 54px;
}

ul {
  padding: 0px 0px 0px 20px;
}
